*.mp3
*.exe
*.txt
*.part
*.description
*.m4a
*.bak
*.lst
*.json
*.webm
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

logs
YtToZara/*
test

YtToZara.zip
